@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.app__main {
  padding: 25px 50px 25px 50px;
}

body{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
 }

.App {
  text-align: center;
  
}

h1{
  font-size: 70px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #623F96;
  height: 90px;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  padding: 5px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Login{
  color:black;
  margin-top: 15%;
  height:500px;
}

button{
  background: black;
  color: white;
  padding: 15px;
  margin: 10px;
  font-size: 22px;
  border-radius: 15px;

}

