.Board { 
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image: url(./assets/sprites/bg.png);
}

.tower{
    position:relative;
    margin: 20px auto;
    background-image: url(./assets/towerRoom.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.Cell{
    background: #ccc;
    position: absolute;
}

.controls{
    margin-top: 20px;
}

.button{
    margin-left: 12px;
    cursor: pointer;
}