@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

.Board { 
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image: url(./assets/sprites/bg.png);
}

.tower{
    position:relative;
    margin: 20px auto;
    background-image: url(./assets/towerRoom.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.Diego{
    background-image: url(./assets/sprites/Diego.png);
    background-repeat: no-repeat;
    position: relative;
    top: 450px;
    left: 190px;

}

.Diego{
    background-image: url(./assets/sprites/bird.png);
    background-repeat: no-repeat;
    position: relative;
    top: 450px;
    left: 490px;

}

.Cell{
    background: #ccc;
    position: absolute;
}

.controls{
    margin-top: 20px;
}

.button{
    margin-left: 12px;
    cursor: pointer;
}

.speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 51px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-left: 0;
    margin-left: -25.5px;
    margin-bottom: -51px; }


.menu{
    width:20%;
    float: left;
    padding: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
}

.menu a{
    background-color: black;
  border-radius: 20px;
  color: white;
  display: block;
  padding: 20px;
  text-decoration: none;
  height: 100px;
  line-height: 100px;
  margin-top: 10px;

}

.inviteMode{
 font-family: 'Lucida Sans';  
}

.menu a:hover {
    background-color: #ccc;
    color: black;
  }
  
.menu a.active {
    background-color: #4CAF50;
    color: white;
  }

.dashboard{
    width: 75%;
    float: right;
    padding: 20px;
    font-family: 'sans-serif';
    background-color: #F4d911;
    border-radius: 10px;
    margin:auto;
    height: 750px;
    overflow-y: scroll;
    font-size: 30px;
}

.image{
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

#stick{
    position: absolute;
    top: 500px;
    left: 500px;
    color: white;
    background-image: url(./assets/hockeystick.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 200px;
}

#brick{
    position: absolute;
    top: 400px;
    left: 700px;
    width: 400px;
    height: 200px;
    background-image: url(./assets/brickBag.svg);
    background-repeat: no-repeat;
    color: white;
}

#bag{
    position: absolute;
    top: 500px;
    left: 1200px;
    background-color: black;
    color: white;
}

#wheelbarrow{
    position: absolute;
    top: 350px;
    left: 600px;
    background-image: url(./assets/wheelbarrow.svg);
    width: 220px;
    height: 180px;
    background-repeat: no-repeat;
}

#pulley{
    position: absolute;
    top: 0px;
    left: 700px;
    background-image: url(./assets/Pulley.svg);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .hidden{
      display: none;
  }

  .panelBoard{
      column-count: 2;
      height: 350px;
      padding: 1.5rem 2rem;
    
  }

  .panel {
    padding: 1.5rem 2rem;
    /* position: absolute; */
    background-color: #fff;
    width: 90%;
    height: 300px;
    border-radius: 20px;
    text-align: left;
    overflow: hidden;
}

  .dt{
      width: 500px;
      height: 15px;
      background-color: white;
      border: black solid 1px;
  }

 
  .db{
    width: 45%;
    height: 15px;
    background-color: purple;
    position: relative;
    display: block;
}
  
.dc{
    width: 35%;
    height: 15px;
    background-color: blue;
    position: relative;
    display: block;
}

  .dd{
      width: 20%;
      height: 15px;
      background-color: greenyellow;
      position: relative;
      display: block;
  }
  
.bag{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height:100px;
    background-image: url(./assets/bag.svg);
    background-repeat: no-repeat;
}